html {
  background: #1CD8D2;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(#1CD8D2, #93EDC7);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(#1CD8D2, #93EDC7);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.bday {
  text-align: center;
  font-size: 8em;
  margin: 0;
  color: white;
  font-family: sans-serif;
  text-shadow: 3px 6px 10px rgba(0, 0, 0, 0.2);
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 30%;
}

.bday-sub {
  color: white;
  margin: 0;
  font-family: sans-serif;
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
}

.bday-share {
  color: blue;
}
.bday-share:hover, .bday-share:focus {
  color: #00009b;
}

.element {
  animation-fill-mode: both;
  position: absolute;
  z-index: 1;
  cursor: pointer;
}

.element-head {
  width: 100%;
  height: 100%;
  position: absolute;
  fill: url(#gradient);
  opacity: 0.9;
}

.element-body {
  width: 100%;
  height: 100%;
  margin-top: 100%;
  position: absolute;
}
.element-body g {
  stroke: url(#gradient);
}

.element:nth-child(1) {
  width: 36px;
  height: 36px;
  top: 94%;
  left: 88%;
  animation-duration: 4712ms;
  animation-name: oFillUp--1;
}

@keyframes oFillUp--1 {
  from {
    left: -150%;
    top: 150%;
  }
}
.element:nth-child(2) {
  width: 13px;
  height: 13px;
  top: 67%;
  left: 45%;
  animation-duration: 4912ms;
  animation-name: oFillUp--2;
}

@keyframes oFillUp--2 {
  from {
    left: -150%;
    top: 150%;
  }
}
.element:nth-child(3) {
  width: 30px;
  height: 30px;
  top: 45%;
  left: 42%;
  animation-duration: 4925ms;
  animation-name: oFillUp--3;
}

@keyframes oFillUp--3 {
  from {
    left: -150%;
    top: 150%;
  }
}
.element:nth-child(4) {
  width: 33px;
  height: 33px;
  top: 6%;
  left: 82%;
  animation-duration: 4312ms;
  animation-name: oFillUp--4;
}

@keyframes oFillUp--4 {
  from {
    left: -150%;
    top: 150%;
  }
}
.element:nth-child(5) {
  width: 13px;
  height: 13px;
  top: 80%;
  left: 37%;
  animation-duration: 3895ms;
  animation-name: oFillUp--5;
}

@keyframes oFillUp--5 {
  from {
    left: -150%;
    top: 150%;
  }
}
.element:nth-child(6) {
  width: 23px;
  height: 23px;
  top: 26%;
  left: 84%;
  animation-duration: 4676ms;
  animation-name: oFillUp--6;
}

@keyframes oFillUp--6 {
  from {
    left: -150%;
    top: 150%;
  }
}
.element:nth-child(7) {
  width: 11px;
  height: 11px;
  top: 6%;
  left: 28%;
  animation-duration: 3985ms;
  animation-name: oFillUp--7;
}

@keyframes oFillUp--7 {
  from {
    left: -150%;
    top: 150%;
  }
}
.element:nth-child(8) {
  width: 21px;
  height: 21px;
  top: 45%;
  left: 6%;
  animation-duration: 2768ms;
  animation-name: oFillUp--8;
}

@keyframes oFillUp--8 {
  from {
    left: -150%;
    top: 150%;
  }
}
.element:nth-child(9) {
  width: 19px;
  height: 19px;
  top: 40%;
  left: 91%;
  animation-duration: 3416ms;
  animation-name: oFillUp--9;
}

@keyframes oFillUp--9 {
  from {
    left: -150%;
    top: 150%;
  }
}
.element:nth-child(10) {
  width: 18px;
  height: 18px;
  top: 45%;
  left: 34%;
  animation-duration: 4280ms;
  animation-name: oFillUp--10;
}

@keyframes oFillUp--10 {
  from {
    left: -150%;
    top: 150%;
  }
}
.element:nth-child(11) {
  width: 18px;
  height: 18px;
  top: 64%;
  left: 10%;
  animation-duration: 2382ms;
  animation-name: oFillUp--11;
}

@keyframes oFillUp--11 {
  from {
    left: -150%;
    top: 150%;
  }
}
.element:nth-child(12) {
  width: 21px;
  height: 21px;
  top: 43%;
  left: 50%;
  animation-duration: 2816ms;
  animation-name: oFillUp--12;
}

@keyframes oFillUp--12 {
  from {
    left: -150%;
    top: 150%;
  }
}
.element:nth-child(13) {
  width: 27px;
  height: 27px;
  top: 90%;
  left: 71%;
  animation-duration: 4298ms;
  animation-name: oFillUp--13;
}

@keyframes oFillUp--13 {
  from {
    left: -150%;
    top: 150%;
  }
}
.element:nth-child(14) {
  width: 24px;
  height: 24px;
  top: 20%;
  left: 77%;
  animation-duration: 2620ms;
  animation-name: oFillUp--14;
}

@keyframes oFillUp--14 {
  from {
    left: -150%;
    top: 150%;
  }
}
.element:nth-child(15) {
  width: 25px;
  height: 25px;
  top: 83%;
  left: 66%;
  animation-duration: 4940ms;
  animation-name: oFillUp--15;
}

@keyframes oFillUp--15 {
  from {
    left: -150%;
    top: 150%;
  }
}
.element:nth-child(16) {
  width: 12px;
  height: 12px;
  top: 75%;
  left: 58%;
  animation-duration: 3144ms;
  animation-name: oFillUp--16;
}

@keyframes oFillUp--16 {
  from {
    left: -150%;
    top: 150%;
  }
}
.element:nth-child(17) {
  width: 31px;
  height: 31px;
  top: 45%;
  left: 16%;
  animation-duration: 3266ms;
  animation-name: oFillUp--17;
}

@keyframes oFillUp--17 {
  from {
    left: -150%;
    top: 150%;
  }
}
.element:nth-child(18) {
  width: 36px;
  height: 36px;
  top: 19%;
  left: 90%;
  animation-duration: 4514ms;
  animation-name: oFillUp--18;
}

@keyframes oFillUp--18 {
  from {
    left: -150%;
    top: 150%;
  }
}
.element:nth-child(19) {
  width: 28px;
  height: 28px;
  top: 89%;
  left: 49%;
  animation-duration: 1295ms;
  animation-name: oFillUp--19;
}

@keyframes oFillUp--19 {
  from {
    left: -150%;
    top: 150%;
  }
}
.element:nth-child(20) {
  width: 33px;
  height: 33px;
  top: 76%;
  left: 68%;
  animation-duration: 3400ms;
  animation-name: oFillUp--20;
}

@keyframes oFillUp--20 {
  from {
    left: -150%;
    top: 150%;
  }
}
.element:nth-child(21) {
  width: 38px;
  height: 38px;
  top: 23%;
  left: 49%;
  animation-duration: 4937ms;
  animation-name: oFillUp--21;
}

@keyframes oFillUp--21 {
  from {
    left: -150%;
    top: 150%;
  }
}
.element:nth-child(22) {
  width: 32px;
  height: 32px;
  top: 80%;
  left: 41%;
  animation-duration: 776ms;
  animation-name: oFillUp--22;
}

@keyframes oFillUp--22 {
  from {
    left: -150%;
    top: 150%;
  }
}
.element:nth-child(23) {
  width: 36px;
  height: 36px;
  top: 59%;
  left: 13%;
  animation-duration: -520ms;
  animation-name: oFillUp--23;
}

@keyframes oFillUp--23 {
  from {
    left: -150%;
    top: 150%;
  }
}
.element:nth-child(24) {
  width: 33px;
  height: 33px;
  top: 20%;
  left: 34%;
  animation-duration: 1280ms;
  animation-name: oFillUp--24;
}

@keyframes oFillUp--24 {
  from {
    left: -150%;
    top: 150%;
  }
}
.element:nth-child(25) {
  width: 28px;
  height: 28px;
  top: 13%;
  left: 24%;
  animation-duration: 875ms;
  animation-name: oFillUp--25;
}

@keyframes oFillUp--25 {
  from {
    left: -150%;
    top: 150%;
  }
}
.element:nth-child(26) {
  width: 34px;
  height: 34px;
  top: 49%;
  left: 61%;
  animation-duration: -2540ms;
  animation-name: oFillUp--26;
}

@keyframes oFillUp--26 {
  from {
    left: -150%;
    top: 150%;
  }
}
.element:nth-child(27) {
  width: 14px;
  height: 14px;
  top: 6%;
  left: 27%;
  animation-duration: -2344ms;
  animation-name: oFillUp--27;
}

@keyframes oFillUp--27 {
  from {
    left: -150%;
    top: 150%;
  }
}
.element:nth-child(28) {
  width: 14px;
  height: 14px;
  top: 61%;
  left: 27%;
  animation-duration: -1636ms;
  animation-name: oFillUp--28;
}

@keyframes oFillUp--28 {
  from {
    left: -150%;
    top: 150%;
  }
}
.element:nth-child(29) {
  width: 17px;
  height: 17px;
  top: 29%;
  left: 46%;
  animation-duration: -162ms;
  animation-name: oFillUp--29;
}

@keyframes oFillUp--29 {
  from {
    left: -150%;
    top: 150%;
  }
}
.element:nth-child(30) {
  width: 25px;
  height: 25px;
  top: 63%;
  left: 77%;
  animation-duration: 1400ms;
  animation-name: oFillUp--30;
}

@keyframes oFillUp--30 {
  from {
    left: -150%;
    top: 150%;
  }
}
.element--explode {
  animation-duration: 200ms !important;
  animation-name: implode !important;
}

@keyframes implode {
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 0;
    height: 0;
    font-size: 0;
    pointer-events: none;
  }
}
.diamond {
  transform: rotate(45deg);
}

.circle {
  border-radius: 50%;
  transform: rotate(-20deg);
}

.bubble {
  animation-fill-mode: both;
  margin: -10px;
  position: absolute;
  border: 2px solid red;
  transform: scale(0, 0);
  z-index: 1;
}

.bubble:nth-child(1) {
  width: 20px;
  height: 20px;
  animation-duration: 557ms;
  animation-name: bMove--1;
  animation-delay: 100ms;
}

@keyframes bMove--1 {
  0% {
    transform: rotate(179deg) translate(0px, 0px) scale(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(179deg) translate(-85px, 67px) scale(1, 1);
    opacity: 0;
  }
}
.bubble:nth-child(2) {
  width: 16px;
  height: 16px;
  animation-duration: 155ms;
  animation-name: bMove--2;
  animation-delay: 100ms;
}

@keyframes bMove--2 {
  0% {
    transform: rotate(108deg) translate(0px, 0px) scale(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(108deg) translate(-3px, -72px) scale(1, 1);
    opacity: 0;
  }
}
.bubble:nth-child(3) {
  width: 17px;
  height: 17px;
  animation-duration: 712ms;
  animation-name: bMove--3;
  animation-delay: 100ms;
}

@keyframes bMove--3 {
  0% {
    transform: rotate(120deg) translate(0px, 0px) scale(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(120deg) translate(10px, -33px) scale(1, 1);
    opacity: 0;
  }
}
.bubble:nth-child(4) {
  width: 24px;
  height: 24px;
  animation-duration: 188ms;
  animation-name: bMove--4;
  animation-delay: 100ms;
}

@keyframes bMove--4 {
  0% {
    transform: rotate(39deg) translate(0px, 0px) scale(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(39deg) translate(-14px, -8px) scale(1, 1);
    opacity: 0;
  }
}
.bubble:nth-child(5) {
  width: 9px;
  height: 9px;
  animation-duration: 613ms;
  animation-name: bMove--5;
  animation-delay: 100ms;
}

@keyframes bMove--5 {
  0% {
    transform: rotate(38deg) translate(0px, 0px) scale(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(38deg) translate(85px, 13px) scale(1, 1);
    opacity: 0;
  }
}
.bubble:nth-child(6) {
  width: 11px;
  height: 11px;
  animation-duration: 824ms;
  animation-name: bMove--6;
  animation-delay: 100ms;
}

@keyframes bMove--6 {
  0% {
    transform: rotate(205deg) translate(0px, 0px) scale(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(205deg) translate(32px, 7px) scale(1, 1);
    opacity: 0;
  }
}
.bubble:nth-child(7) {
  width: 11px;
  height: 11px;
  animation-duration: 288ms;
  animation-name: bMove--7;
  animation-delay: 100ms;
}

@keyframes bMove--7 {
  0% {
    transform: rotate(192deg) translate(0px, 0px) scale(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(192deg) translate(24px, 54px) scale(1, 1);
    opacity: 0;
  }
}
.bubble:nth-child(8) {
  width: 22px;
  height: 22px;
  animation-duration: 833ms;
  animation-name: bMove--8;
  animation-delay: 100ms;
}

@keyframes bMove--8 {
  0% {
    transform: rotate(136deg) translate(0px, 0px) scale(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(136deg) translate(12px, 56px) scale(1, 1);
    opacity: 0;
  }
}
.bubble:nth-child(9) {
  width: 17px;
  height: 17px;
  animation-duration: 579ms;
  animation-name: bMove--9;
  animation-delay: 100ms;
}

@keyframes bMove--9 {
  0% {
    transform: rotate(185deg) translate(0px, 0px) scale(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(185deg) translate(-16px, 66px) scale(1, 1);
    opacity: 0;
  }
}
.bubble:nth-child(10) {
  width: 21px;
  height: 21px;
  animation-duration: 632ms;
  animation-name: bMove--10;
  animation-delay: 100ms;
}

@keyframes bMove--10 {
  0% {
    transform: rotate(353deg) translate(0px, 0px) scale(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(353deg) translate(-1px, 2px) scale(1, 1);
    opacity: 0;
  }
}
.bubble:nth-child(11) {
  width: 12px;
  height: 12px;
  animation-duration: 504ms;
  animation-name: bMove--11;
  animation-delay: 100ms;
}

@keyframes bMove--11 {
  0% {
    transform: rotate(294deg) translate(0px, 0px) scale(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(294deg) translate(-65px, -27px) scale(1, 1);
    opacity: 0;
  }
}
.bubble:nth-child(12) {
  width: 23px;
  height: 23px;
  animation-duration: 840ms;
  animation-name: bMove--12;
  animation-delay: 100ms;
}

@keyframes bMove--12 {
  0% {
    transform: rotate(89deg) translate(0px, 0px) scale(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(89deg) translate(-15px, 82px) scale(1, 1);
    opacity: 0;
  }
}
.bubble:nth-child(13) {
  width: 16px;
  height: 16px;
  animation-duration: 468ms;
  animation-name: bMove--13;
  animation-delay: 100ms;
}

@keyframes bMove--13 {
  0% {
    transform: rotate(327deg) translate(0px, 0px) scale(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(327deg) translate(31px, 29px) scale(1, 1);
    opacity: 0;
  }
}
.bubble:nth-child(14) {
  width: 7px;
  height: 7px;
  animation-duration: 388ms;
  animation-name: bMove--14;
  animation-delay: 100ms;
}

@keyframes bMove--14 {
  0% {
    transform: rotate(142deg) translate(0px, 0px) scale(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(142deg) translate(36px, -6px) scale(1, 1);
    opacity: 0;
  }
}
.bubble:nth-child(15) {
  width: 8px;
  height: 8px;
  animation-duration: 499ms;
  animation-name: bMove--15;
  animation-delay: 100ms;
}

@keyframes bMove--15 {
  0% {
    transform: rotate(252deg) translate(0px, 0px) scale(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(252deg) translate(37px, 57px) scale(1, 1);
    opacity: 0;
  }
}
.bubble:nth-child(16) {
  width: 23px;
  height: 23px;
  animation-duration: 252ms;
  animation-name: bMove--16;
  animation-delay: 100ms;
}

@keyframes bMove--16 {
  0% {
    transform: rotate(274deg) translate(0px, 0px) scale(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(274deg) translate(-30px, -55px) scale(1, 1);
    opacity: 0;
  }
}
.bubble:nth-child(17) {
  width: 16px;
  height: 16px;
  animation-duration: 470ms;
  animation-name: bMove--17;
  animation-delay: 100ms;
}

@keyframes bMove--17 {
  0% {
    transform: rotate(114deg) translate(0px, 0px) scale(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(114deg) translate(84px, 13px) scale(1, 1);
    opacity: 0;
  }
}
.bubble:nth-child(18) {
  width: 22px;
  height: 22px;
  animation-duration: 255ms;
  animation-name: bMove--18;
  animation-delay: 100ms;
}

@keyframes bMove--18 {
  0% {
    transform: rotate(353deg) translate(0px, 0px) scale(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(353deg) translate(5px, 36px) scale(1, 1);
    opacity: 0;
  }
}
.bubble:nth-child(19) {
  width: 22px;
  height: 22px;
  animation-duration: 938ms;
  animation-name: bMove--19;
  animation-delay: 100ms;
}

@keyframes bMove--19 {
  0% {
    transform: rotate(265deg) translate(0px, 0px) scale(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(265deg) translate(1px, 4px) scale(1, 1);
    opacity: 0;
  }
}
.bubble:nth-child(20) {
  width: 15px;
  height: 15px;
  animation-duration: 933ms;
  animation-name: bMove--20;
  animation-delay: 100ms;
}

@keyframes bMove--20 {
  0% {
    transform: rotate(189deg) translate(0px, 0px) scale(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(189deg) translate(-2px, 53px) scale(1, 1);
    opacity: 0;
  }
}
.bubble:nth-child(21) {
  width: 16px;
  height: 16px;
  animation-duration: 379ms;
  animation-name: bMove--21;
  animation-delay: 100ms;
}

@keyframes bMove--21 {
  0% {
    transform: rotate(91deg) translate(0px, 0px) scale(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(91deg) translate(-38px, 10px) scale(1, 1);
    opacity: 0;
  }
}
.bubble:nth-child(22) {
  width: 12px;
  height: 12px;
  animation-duration: 479ms;
  animation-name: bMove--22;
  animation-delay: 100ms;
}

@keyframes bMove--22 {
  0% {
    transform: rotate(82deg) translate(0px, 0px) scale(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(82deg) translate(-16px, -50px) scale(1, 1);
    opacity: 0;
  }
}
.bubble:nth-child(23) {
  width: 7px;
  height: 7px;
  animation-duration: 652ms;
  animation-name: bMove--23;
  animation-delay: 100ms;
}

@keyframes bMove--23 {
  0% {
    transform: rotate(259deg) translate(0px, 0px) scale(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(259deg) translate(4px, 33px) scale(1, 1);
    opacity: 0;
  }
}
.bubble:nth-child(24) {
  width: 14px;
  height: 14px;
  animation-duration: 239ms;
  animation-name: bMove--24;
  animation-delay: 100ms;
}

@keyframes bMove--24 {
  0% {
    transform: rotate(146deg) translate(0px, 0px) scale(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(146deg) translate(-42px, 10px) scale(1, 1);
    opacity: 0;
  }
}
.bubble:nth-child(25) {
  width: 12px;
  height: 12px;
  animation-duration: 549ms;
  animation-name: bMove--25;
  animation-delay: 100ms;
}

@keyframes bMove--25 {
  0% {
    transform: rotate(331deg) translate(0px, 0px) scale(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(331deg) translate(-52px, -80px) scale(1, 1);
    opacity: 0;
  }
}
.bubble:nth-child(26) {
  width: 25px;
  height: 25px;
  animation-duration: 220ms;
  animation-name: bMove--26;
  animation-delay: 100ms;
}

@keyframes bMove--26 {
  0% {
    transform: rotate(126deg) translate(0px, 0px) scale(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(126deg) translate(-10px, 9px) scale(1, 1);
    opacity: 0;
  }
}
.bubble:nth-child(27) {
  width: 23px;
  height: 23px;
  animation-duration: 382ms;
  animation-name: bMove--27;
  animation-delay: 100ms;
}

@keyframes bMove--27 {
  0% {
    transform: rotate(161deg) translate(0px, 0px) scale(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(161deg) translate(49px, 49px) scale(1, 1);
    opacity: 0;
  }
}
.bubble:nth-child(28) {
  width: 15px;
  height: 15px;
  animation-duration: 424ms;
  animation-name: bMove--28;
  animation-delay: 100ms;
}

@keyframes bMove--28 {
  0% {
    transform: rotate(306deg) translate(0px, 0px) scale(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(306deg) translate(65px, -23px) scale(1, 1);
    opacity: 0;
  }
}
.bubble:nth-child(29) {
  width: 9px;
  height: 9px;
  animation-duration: 266ms;
  animation-name: bMove--29;
  animation-delay: 100ms;
}

@keyframes bMove--29 {
  0% {
    transform: rotate(27deg) translate(0px, 0px) scale(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(27deg) translate(-7px, -10px) scale(1, 1);
    opacity: 0;
  }
}
.bubble:nth-child(30) {
  width: 18px;
  height: 18px;
  animation-duration: 248ms;
  animation-name: bMove--30;
  animation-delay: 100ms;
}

@keyframes bMove--30 {
  0% {
    transform: rotate(322deg) translate(0px, 0px) scale(0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(322deg) translate(40px, 5px) scale(1, 1);
    opacity: 0;
  }
}
.element-body-0 {
  opacity: 1.1;
}

.element-body-1 {
  opacity: 1;
}

.element-body-2 {
  opacity: 0.3;
}

.element-body-3 {
  opacity: 0.9;
}

.element-body-4 {
  opacity: 0.5;
}

.element-body-5 {
  opacity: 0.8;
}

.element-body-6 {
  opacity: 0.8;
}

.element-body-7 {
  opacity: 0.3;
}

.element-body-8 {
  opacity: 0.5;
}

.element-body-9 {
  opacity: 0.6;
}
